@import 'src/styles/media.scss';

.backdrop {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background: rgba(25, 44, 50, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modalBody {
	background-color: var(--beige-color);
	padding: 28px;
	border-radius: 32px;
	max-width: 540px;
	border: 2px solid var(--primary-color);
	box-shadow: 4px 4px 0 0 var(--primary-color);
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: relative;

	@media only screen and (max-width: $media-md) {
		padding: 20px;

	}
}

.closeIcon {
	position: absolute;
	top: 28px;
	right: 28px;
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	transition: var(--transition);

	@media only screen and (max-width: $media-md) {
		top: 20px;
		right: 20px;
	}

	&:hover {
		transform: scale(1.25);
		color: var(--gray-color);
	}
}

.upperPartWrapper {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.textPart {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.title {
	font-weight: 300;
	font-size: 40px;
	line-height: 1.15;
	@media only screen and (max-width: $media-md) {
		font-size: 28px;
		min-width: 200px;
		width: 100%;
	}
}

.subtitle {
	font-weight: 400;
	font-size: 22px;
	max-width: 272px;
	width: 100%;

	@media only screen and (max-width: $media-md) {
		max-width: 187px;
		font-size: 14px;
		line-height: 1.14;
	}
}

.imageWrapper {
	align-self: center;
	display: flex;
	justify-content: center;

	@media only screen and (max-width: $media-md) {
		justify-content: flex-end;

		img {
			width: 75px;
			height: 75px;
		}
	}
}

.closeButton {
	font-size: 36px;
	line-height: 1.06;
	width: 100%;
	text-align: center;

	@media only screen and (max-width: $media-md) {
		font-size: 20px;
		line-height: 1.1;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
