@import "src/styles/media";

.wrapper {
	position: relative;
	padding: 50px 60px;

	@media only screen and (max-width: $media-lg) {
		padding: 20px 30px;

	}
}

.formWrapper {
	width: 100%;
	display: flex;
	gap: 32px;

	@media only screen and (max-width: $media-lg) {
		flex-direction: column;
		gap: 32px;
	}
}

.form {
	width: 100%;
}

.uploadImage {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 15px;
	@media only screen and (max-width: $media-lg) {
		gap: 7px;
	}


}

.text {
	display: block;
	font-size: 22px;
	font-weight: 400;
	line-height: 27px;
	@media only screen and (max-width: $media-lg) {
		font-size: 16px;
		line-height: 20px;
	}
}

.imageContainer {
	position: relative;
	width: 100%;
	height: 380px;
	border: 2px dashed var(--primary-color);
	border-radius: 42px;

	.file {
		width: 100%;
		height: 100%;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}

	&_desc {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;

		.subText {
			font-size: 21px;
			font-weight: 700;
			line-height: 20px;
			text-align: center;
			@media only screen and (max-width: $media-lg) {
				font-size: 16px;
				line-height: 16px;
			}
		}
	}
}

.preview {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 42px;
	z-index: 100;
}

.hide {
	display: none;
}
