@import '/src/styles/media.scss';

.formContainer {
    @media only screen and (max-width: $media-xl) {
        width: 70%;
    }

    @media only screen and (max-width: $media-lg) {
        width: 100%;
    }
}

.inputContainer {
	display: flex;
	gap: 24px;
	align-items: center;
	width: 100%;

	.input {
		width: 100%;
		max-width: calc(50% - 8px);

		@media only screen and (max-width: $media-xl) {
			max-width: unset;
		}
	}

	&.withPhoneInput {
		align-items: baseline;
	}

	@media only screen and (max-width: $media-xl) {
		flex-direction: column;
		gap: 0;
	}
}

.sendMessageButton {
	width: 100%;
	font-size: 36px;
	line-height: 1.06;

    @media only screen and (max-width: $media-md) {
        font-size: 20px;
    }
}

.messageWrapper {
 margin-bottom: 35px;
}




.messageWrapper {
	border: 2px solid var(--primary-color);
	box-shadow: 3px 3px 0 3px var(--primary-color);
	border-radius: 32px;
	padding: 16px;
	width: 100%;
	background-color: var(--lightgreen-color);
	position: relative;
}
.messageArea{
	height: fit-content;
	width: 100%;
	height: 230px;
	
	font-weight: 700;
	font-size: 22px;
	line-height: 1.13;
	line-height: 1.13;
	letter-spacing: 2.2px;
	word-wrap: break-word;
	white-space: pre-wrap;
	box-sizing: border-box;
	color: var(--primary-color);
	margin-bottom: 15px;

	&::placeholder{
		color: var(--gray-color);
	}
}

.characterCounter {
	position: absolute;
	right: 15px;
	bottom: 5px;
	z-index: 9999;

	font-family: var(--font-roboto);
	font-size: 18px;
	font-weight: 700;
	color:#507178;
}