@import 'src/styles/media.scss';

.pageWrp {
	padding: 62px 60px;
	display: flex;
	flex-direction: column;

	@media only screen and (max-width: $media-md){
		padding: 30px 20px;
	}
}

.formWrp {
	display: flex;
	gap: 30px;
	justify-content: space-between;

	@media only screen and (max-width: 1140px) {
		flex-direction: column-reverse;
	}
}

.title {
	font-size: 64px;
	line-height: 1.09;
	margin-bottom: 24px;
}

.imgWrp {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 391px;
	max-height: 391px;
	height: 100%;
	margin-top: -70px;
	aspect-ratio: 1;
	border-radius: 100%;
	border-width: 4px;
	border-color: var(--black-color);
	box-shadow: 0 4px 0 4px #2a2f2d;

	@media only screen and (max-width: 1140px) {
		margin-top: 0;
		max-width: 200px;
		max-height: 200px;
		align-self: flex-end;
	}
}
