@import 'src/styles/media';

.swiperContainer {
	position: relative;
	display: none;

	@media only screen and (max-width: $media-lg) {
		display: block;
	}

	width: 100%;
	height: 100%;
	margin-bottom: 25px;

	.swiper {
		width: 400px;
		height: 500px;
		box-shadow: 2px 2px 0 2px var(--primary-color);
		border: 4px solid var(--primary-color);
		border-radius: 24px;

		@media only screen and (max-width: $media-sm) {
			width: 100%;
			height: 380px;
		}

		@media only screen and (max-width: 480px) {
			height: 320px;
			max-width: 360px;
		}

		@media only screen and (max-width: $media-xs) {
			height: 260px;
			max-width: 300px;
		}

		.swiperPaginationBullet {
			display: block;
			width: 12px;
			height: 12px;
			background: #f2decd;
			border-radius: 50%;
			box-shadow: 1.5px 1.5px 0 1.5px var(--primary-color);
			border: 1px solid var(--primary-color);
			cursor: pointer;
		}

		.swiperPaginationBulletActive {
			background: #507178;
		}

		.horizontalClass {
			display: flex;
			justify-content: center;
			gap: 10px;
		}

		.icon {
			position: absolute;
			z-index: 100;
			top: 14px;
			right: 18px;
			width: 48px;
			height: 48px;

			@media only screen and (max-width: $media-md) {
				width: 40px;
				height: 40px;
			}

			svg {
				width: 28px;
				height: 28px;
			}
		}
	}

	.slide {
		width: 100%;
		height: 100%;
		object-fit: cover;

		@media only screen and (max-width: $media-sm) {
			width: 100%;
			height: 380px;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}
