@import "src/styles/media.scss";

.inputWrapper {
	position: relative;
	width: 100%;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	@media only screen and (max-width: $media-lg) {
		margin-bottom: 16px;
	}
}

.title {
	font-size: 22px;
	font-weight: 400;
	line-height: 27px;
	margin-bottom: 15px;
	@media only screen and (max-width: $media-lg) {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 7px;
	}
}

.input {
	padding: 12px 24px;
	font-size: 20px;
	line-height: 1.1;
	border: 2px solid var(--primary-color);
	border-radius: 32px;
	box-shadow: 2px 2px 0 2px var(--primary-color);
	text-align: left;
	background: var(--lightgreen-color);
	white-space: pre-wrap;
	overflow-wrap: break-word;
	padding-top: 200px;

	@media only screen and (max-width: $media-lg) {
		padding: 12px 16px;
		font-size: 16px;
		line-height: 18px;
	}

	@media only screen and (max-width: $media-md) {
		border-radius: 20px;
	}

	&::placeholder {
		opacity: 0.5;
	}

	&:active,
	&:focus {
		background: #B5C2C8;
	}

	&.inputSuccess {
		border: 2px solid var(--success-color);
		box-shadow: 2px 2px 0 2px var(--success-color);
	}

	&.inputError {
		border: 2px solid var(--error-color);
		box-shadow: 2px 2px 0 2px var(--error-color);
	}
}


.error {
	width: 100%;
	display: block;
	position: absolute;
	top: calc(100% + 10px);
	left: 50%;
	transform: translateX(-50%);
	font-size: 16px;
	line-height: 1;
	color: var(--error-color);
	z-index: 50;
}
