@import "src/styles/media";

.wrapper {
	padding: 30px 60px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	height: 100%;
	position: relative;

	@media screen and (max-width: $media-lg) {
		padding: 20px 30px;
		gap: 20px;
	}
}