@import "src/styles/mixins";

.iconWrapper {
	cursor: pointer;

	svg {
		width: 24px;
		height: 24px;
		@include icons-state;
	}

	@media screen and (max-width: $media-lg) {
		svg {
			height: 15px;
			width: 15px;
		}
	}
}
