@import "src/styles/media.scss";
@import "src/styles/mixins.scss";

.ribbonWrapper {
	position: relative;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.title {
	@include section-heading;
}

.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background: var(--beige-color);
	border-top: 1px solid var(--primary-color);

	@media only screen and (max-width: $media-lg) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.column {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 180px;

	@media only screen and (max-width: $media-sm) {
		grid-auto-rows: 100px;
	}

	&:nth-child(even) {
		.card {
			&:nth-child(even) {
				grid-row-end: span 2;
			}

			&:nth-child(odd) {
				grid-row-end: span 3;
			}
		}
	}

	&:nth-child(odd) {
		.card {
			&:nth-child(even) {
				grid-row-end: span 3;
			}

			&:nth-child(odd) {
				grid-row-end: span 2;
			}
		}
	}
}

.card {
	position: relative;
	border: 1px solid var(--primary-color);

	&:hover {
		.imageWrapper {

			img {
				transform: scale(1.15);
			}
		}
	}
}

.imageWrapper {
	height: 100%;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		transition: var(--transition);
	}
}

.categoryName {
	position: absolute;
	bottom: 34px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 220px;
	padding: 8px 22px;
	font-size: 30px;
	font-weight: 300;
	color: var(--primary-color);
	background: var(--beige-color);
	border: 4px solid var(--primary-color);
	border-radius: 30px;
	box-shadow: 3.8px 3.8px 0 3.8px var(--primary-color);
	text-align: center;

	@media only screen and (max-width: $media-xxl) {
		font-size: 25px;
		box-shadow: 2px 2px 0 2px var(--primary-color);
	}

	@media only screen and (max-width: $media-xl) {
		font-size: 20px;
		max-width: 160px;
	}

	@media only screen and (max-width: $media-sm) {
		padding: 4px 12px;
		font-size: 16px;
		max-width: 132px;
	}
}

.placeholder {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.placeholderImageWrapper {
	margin-bottom: 30px;

	@media only screen and (max-width: $media-md) {
		margin-bottom: 10px;
	}

	@media only screen and (max-width: $media-sm) {
		height: 100%;
		max-height: 120px;
	}

	img {
		object-fit: contain;
	}
}

.placeholderTitle {
	font-size: 38px;
	line-height: 1.8;

	@media only screen and (max-width: $media-xl) {
		font-size: 30px;
	}

	@media only screen and (max-width: $media-sm) {
		font-size: 18px;
		line-height: 1;
	}
}