@import 'src/styles/media.scss';

.formContainer {
	display: flex;
	flex-direction: column;
	gap: 48px;
	// width: 100%;
}

.formGroup {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.title {
	font-weight: 40px;
	font-weight: 300;
	line-height: 1.15;
}

.inputContainer {
	display: flex;
	gap: 16px;
	align-items: center;
}

.input {
	font-size: 21px;
	line-height: 1.25;
}

.phoneInputText {
	font-size: 21px;
	line-height: 1.25;
	margin-bottom: 12px;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
