@import "src/styles/media.scss";
@import "src/styles/mixins";

.wrapper {
	padding: 72px;
	color: var(--primary-color);
	background: var(--lightblue-color);

	@media only screen and (max-width: $media-xl) {
		padding: 35px;
	}

	@media only screen and (max-width: $media-sm) {
		padding: 16px;
	}
}

.title {
	@include section-heading;
	font-weight: 700;

}
