:root {
	/* Color */
	--primary-color: #192c32;
	--white-color: #DFE7EB;
	--gray-color: #507178;
	--mintgreen-color: #8da89e;
	--lightgreen-color: #dde8e4;
	--lightblue-color: #b5c2c8;
	--beige-color: #f2decd;
	--success-color: #3ec885;
	--error-color: #ff7109;
	--main-background-color: #B5C2C8;
	--secondary-background-color: #F2DECD;
	--yellow-color: #FFB63B;
	--green-success: #37d235;
	/* Other */
	--transition: all .25s ease-in-out;
}
