@import 'src/styles/media.scss';

.imageContainer {
	position: relative;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		pointer-events: none;
	}
}

.newsImage {
	object-fit: cover;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;
	object-position: center;
	mask-size: contain;
}

.theHottestContainer {
	width: 45%;
	aspect-ratio: 3 / 4;
	position: relative;

	@media only screen and (max-width: $media-md) {
		width: 60%;
	}
}

.theHottestImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-mask-image: url('/news/theHottestIcon.svg');
	mask-image: url('/news/theHottestIcon.svg');
}

.theHottestContainer::after {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/news/theHottestLine.svg');
}

.hopHopChoiceContainer {
	width: 50%;
	aspect-ratio: 4.5 / 4;
	position: relative;

	@media only screen and (max-width: $media-md) {
		width: 60%;
	}
}

.hopHopChoiceImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-mask-image: url('/news/hopHopChoiceIcon.svg');
	mask-image: url('/news/hopHopChoiceIcon.svg');
}

.hopHopChoiceContainer::after {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/news/hopHopChoiceLine.svg');
}

.oneLoveContainer {
	width: 50%;
	aspect-ratio: 4.6 / 4;
	position: relative;

	@media only screen and (max-width: $media-md) {
		width: 60%;
	}
}

.oneLoveImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-mask-image: url('/news/oneLoveIcon.svg');
	mask-image: url('/news/oneLoveIcon.svg');
}

.oneLoveContainer::after {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/news/oneLoveLine.svg');
}

.customerSecretContainer {
	width: 45%;
	aspect-ratio: 3 / 4;
	position: relative;

	@media only screen and (max-width: $media-md) {
		width: 60%;
	}
}

.customerSecretImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-mask-image: url('/news/customerSecretIcon.svg');
	mask-image: url('/news/customerSecretIcon.svg');
}

.customerSecretContainer::after {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/news/customerSecretLine.svg');
}

.title {
	h1 {
		color: var(--beige-color);
		text-shadow:
			-2px -2px 0 var(--primary-color),
			2px -2px 0 var(--primary-color),
			-2px 2px 0 var(--primary-color),
			2px 2px 0 var(--primary-color);
		font-size: min(3vw, 48px);
		font-weight: 900;
		letter-spacing: 2px;

		@media only screen and (max-width: $media-sm) {
			text-shadow:
				-1px -1px 0 var(--primary-color),
				1px -1px 0 var(--primary-color),
				-1px 1px 0 var(--primary-color),
				1px 1px 0 var(--primary-color);
		}

		@media only screen and (max-width: 514px) {
			font-size: min(2.5vw, 48px);
		}
	}
}

.description {
	h2 {
		font-weight: 300;
		color: var(--primary-color);
		font-size: min(1.5vw, 22px);
	}
}
