@import "../../../styles/media";

.searchContainer {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 10;
}

.searchInput {
	position: relative;
	z-index: 12;
	padding: 16px 36px;
	font-weight: 700;
	font-size: 22px;
	line-height: 25px;
	letter-spacing: -0.02em;
	border-radius: 32px;
	border: 2px solid var(--primary-color);
	box-shadow: 2px 2px 0 2px var(--primary-color);
	background-color: var(--white-color);


	@media screen and (max-width: 1300px) {
		padding: 15px 0;
		font-size: 18px;
		line-height: 20px;
		padding-left: 30px;
	}
}

.suggestionsWrapper {
	position: absolute;
	top: 60%;
	left: 0;
	right: 0;
	border: 2px solid var(--primary-color);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 2px 2px 0 2px var(--primary-color);
	background-color: var(--white-color);
	border-top: none;
	z-index: 10;
	padding-top: 25px;
}

.suggestionsWrapperScrollBar {
	overflow: hidden;
	position: relative;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.suggestionsContainer {
	overflow-y: auto;
	box-sizing: content-box;
	max-height: 150px;
	background-color: var(--white-color);
}

.suggestionItem {
	font-weight: 700;
	padding: 8px;
	cursor: pointer;
	transition: all .4s ease;

	&:hover {
		color: #507178;
	}
}


.searchButton {
	position: absolute;
	left: 12px;
	width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 15;
	top: 36%;

	@media screen and (max-width: $media-md) {
		top: 33%;

	}
}

.closeButton {
	position: absolute;
	right: 12px;
	width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 15;
	top: 36%;

	@media screen and (max-width: $media-md) {
		top: 33%;

	}
}

.notFound {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	font-weight: 700;
}
