@import "src/styles/media.scss";

.shoppingCart {
	display: flex;
	gap: 36px;
	flex-direction: column;
	justify-content: center;
	min-height: 500px;
	width: 95%;


	@media only screen and (max-width: $media-lg) {
		width: 100%;
		min-height: 600px;

	}

	@media only screen and (max-width: $media-md) {
		width: 120%;
		min-height: 350px;
	}

	@media only screen and (max-width: $media-xs) {
		gap: 20px;

	}
}

.titleEmptyCart {
	font-size: 64px;
	margin: auto;

	@media only screen and (max-width: $media-xl) {
		font-size: 50px;
	}

	@media only screen and (max-width: $media-md) {
		font-size: 44px;
	}

	@media only screen and (max-width: $media-xs) {
		font-size: 32px;
	}

}