.container {
	padding: 0 25px;
}

.track {
	height: 5px;
	width: 100%;
	border-radius: 4px;
	align-self: center;
}

.thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: var(--gray-color);
	display: flex;
	justify-content: center;
	align-items: center;

}

.round {
	border-radius: 50%;
	height: 10px;
	width: 10px;
	background-color: var(--yellow-color);
}

.wrapper {
	width: 100%;
	border-bottom: 2px solid #7A8E98;
	padding: 20px 0;
}

.rangeContainer {

}

.inputWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.line {
		width: 16px;
		height: 2px;
		background-color: var(--primary-color);
	}

	.input {
		width: 88px;
		padding: 6px 12px;
		font-size: 21px;
		font-weight: 700;
		line-height: 1.1;
		border: 2px solid var(--primary-color);
		border-radius: 32px;
		box-shadow: 2px 2px 0 2px var(--primary-color);
		text-align: left;
		background: var(--lightgreen-color);

		&::placeholder {
			opacity: 0.5;
		}

		&:active,
		&:focus {
			background: #B5C2C8;
		}
	}

}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	span {
		font-size: 28px;
		font-weight: 300;
		line-height: 32px;
		text-align: left;
		color: var(--primary-color);
	}
}

.items {

}

.rotate {
	transform: rotate(180deg);
}

