@import 'src/styles/media.scss';

.formContainer {
	display: flex;
	flex-direction: column;
	gap: 48px;
	width: 100%;
	@media only screen and (max-width: 1140px) {
		flex-grow: 1;
	}
}

.formGroup {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.title {
	font-weight: 40px;
	font-weight: 300;
	line-height: 1.15;
	width: 100%;
}

.inputContainer {
	display: flex;
	gap: 16px;
	align-items: center;
	width: 100%;

	&.withPhoneInput {
		align-items: baseline;
	}

	@media only screen and (max-width: $media-sm) {
		flex-direction: column;
	}
}

.input {
	font-size: 21px;
	line-height: 1.25;
}

.phoneInputContainer {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 48%;

	@media only screen and (max-width: 1140px){
		width: 100%;
		gap: 7px;
	}
}

.phoneInputText {
	font-size: 21px;
	line-height: 1.25;

	@media only screen and (max-width: 1140px) {
		font-size: 16px;
	}
}

.actions {
	display: flex;
	gap: 16px;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.deleteButton {
	max-width: 250px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 300;
	font-size: 24px;
	line-height: 1.67;
	text-decoration: underline;
	color: var(--gray-color);

	@media only screen and (max-width: $media-lg) {
		max-width: 200px;
	}

	@media only screen and (max-width: $media-md){
		max-width: 150px;
		font-size: 18px;
	}
}

.saveButton {
	padding: 12px 36px;
	font-size: 36px;
	line-height: 1.06;
	color: var(--black-color);

	@media only screen and (max-width: $media-lg) {
		font-size: 26px;
		padding: 12px 20px;
	}

	@media only screen and (max-width: $media-md){
		font-size: 20px;
	}
}
