@import "src/styles/media.scss";

.card {
	position: relative;
	width: 100%;
	height: 400px;
	display: block;
	border-radius: 24px;
	border: 4px solid var(--lightblue-color);
	overflow: hidden;

	@media only screen and (max-width: $media-xl) {
		height: 300px;
	}

	&:hover {
		.imageWrapper {

			img {
				transform: scale(1.15);
			}
		}
	}
}

.imageWrapper {
	height: 100%;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		transition: var(--transition);
	}
}

.categoryName {
	position: absolute;
	bottom: 34px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 220px;
	padding: 8px 22px;
	font-size: 30px;
	font-weight: 300;
	color: var(--primary-color);
	background: var(--beige-color);
	border: 4px solid var(--primary-color);
	border-radius: 30px;
	box-shadow: 3.8px 3.8px 0 3.8px var(--primary-color);
	text-align: center;
	word-break: break-word;
	@media only screen and (max-width: $media-xxl) {
		font-size: 25px;
		box-shadow: 2px 2px 0 2px var(--primary-color);
	}

	@media only screen and (max-width: $media-xl) {
		font-size: 20px;
		max-width: 160px;
	}

	@media only screen and (max-width: $media-md) {
		bottom: 16px;
	}

	@media only screen and (max-width: $media-sm) {
		padding: 4px 12px;
		font-size: 16px;
		max-width: 132px;
	}
}
