@import "src/styles/media.scss";
@import "src/styles/mixins.scss";

.likeImage {
	height: 34px;
	width: 34px;
	@include like-states;

	@media only screen and (max-width: $media-xxl) {
		width: 28px;
		height: 28px;
	}
}

.active {
	svg path {
		fill: #FFB63B !important;
		stroke: #192C32 !important;
	}
}
