@import 'src/styles/media.scss';

.backdrop {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background: rgba(25, 44, 50, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}


.modalBody {
	background-color: var(--beige-color);
	padding: 28px;
	border-radius: 32px;
	width: 90%;
	max-width: 540px;
	border: 2px solid var(--black-color);
	box-shadow: 4px 4px 0 0 var(--black-color);
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 20px;
	align-items: center;

	@media only screen and (max-width: $media-md) {
		max-width: 328px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-gap: 16px;
		padding: 20px;
	}
}

.textPart {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: flex-start;
	grid-column: 1;
	grid-row: 1;
}

.title {
	font-weight: 300;
	font-size: 40px;
	line-height: 1.15;
	@media only screen and (max-width: $media-md) {
		font-size: 28px;
		min-width: 200px;
		width: 100%;
	}
}

.subtitle {
	font-weight: 400;
	font-size: 22px;
	line-height: 1.09;
	max-width: 260px;
	width: 100%;

	@media only screen and (max-width: $media-md) {
		font-size: 14px;
		line-height: 1.14;
	}
}

.imageWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 2; 
	grid-row: 1 / span 2;

	@media only screen and (max-width: $media-md) {
		grid-column: 2;
		grid-row: 1;
		justify-content: flex-end;
		width: 56px;
		height: 100px;
	}
}

.closeButton {
	font-size: 36px;
	line-height: 1.06;
}

.closeButton {
	font-size: 36px;
	line-height: 1.06;
	justify-self: end;
	grid-column:  span 1;

	@media only screen and (max-width: $media-md) {
		grid-column: 1 / span 2;
		grid-row: 2;
		font-size: 20px;
		line-height: 1.1;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
