@import "../../../styles/media";
@import "../../../styles/mixins";

.icons_list {
	display: flex;
	gap: 32px;
	align-items: center;
	justify-content: center;

	@media only screen and (max-width: $media-lg) {
		&__search {
			display: none;
		}
	}
	@media only screen and (max-width: $media-xl) {
		gap: 18px;
	}
	@media only screen and (max-width: $media-xs) {
		gap: 8px;
	}
}

.iconCart {
	&:hover {
		svg {
			fill: #507178;
		}
	}

	&:active {
		svg {
			fill: #192C32;

		}
	}

	&:disabled {
		svg {
			fill: #B5C2C8;
		}

		opacity: 0.3;
	}
}

.icons_item, .iconCart {
	position: relative;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;

	@media only screen and (max-width: $media-xl) {
		width: 24px;
		height: 24px;
	}
	@media only screen and (max-width: $media-xs) {
		width: 24px;
		height: 24px;
	}
}

.icons_item {
	@include header-icons-state ;
}

.iconCart {
	@include icon-cart-state;
}

.qty {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #FFB63B;
	box-shadow: 2px 2px 0 2px var(--primary-color);
	border: 1px solid var(--primary-color);
	color: #192c32;
	text-align: center;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -5px;
	left: 18px;
	@media only screen and (max-width: $media-xl) {
		width: 15px;
		height: 15px;
		font-size: 9px;
		top: -2px;
		left: 13px;
		box-shadow: 1px 1px 0 1px var(--primary-color);
	}
}
