@import "src/styles/media.scss";
@import "src/styles/mixins.scss";

.wrapper {
	padding: 80px 60px;
	height: 850px;

	@media only screen and (max-width: $media-xxl) {
		padding: 60px 40px;
		height: 700px;
	}

	@media only screen and (max-width: $media-xl) {
		padding: 40px 20px;
	}

	@media only screen and (max-width: $media-lg) {
		padding: 80px 60px;
		height: 100%;
	}

	@media only screen and (max-width: $media-sm) {
		padding: 20px;
	}
}

.productPage {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;

	@media only screen and (max-width: $media-lg) {
		flex-direction: column;
	}


	&__description {
		padding-top: 32px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media only screen and (max-width: $media-lg) {
			justify-content: normal;
		}

		.info {
			display: flex;
			flex-direction: column;

			&__title {
				width: 100%;
				display: flex;
				flex-direction: column;

				@media only screen and (max-width: $media-lg) {
				}
			}

			&__wrapper {
				width: 100%;
				display: block;
				margin-bottom: 32px;

				@media only screen and (max-width: $media-lg) {
					display: flex;
					margin-bottom: 0;

				}
			}

			.title {
				font-size: 40px;
				font-weight: 300;
				line-height: 46px;
				margin-bottom: 10px;

				@media only screen and (max-width: $media-xxl) {
					font-size: 34px;
				}

				@media only screen and (max-width: $media-lg) {
					font-size: 28px;
					line-height: 32px;
					margin-bottom: 0;
				}
			}

			.subTitle {
				font-size: 24px;
				font-weight: 700;
				line-height: 28px;
				margin-bottom: 15px;

				@media only screen and (max-width: $media-xxl) {
					font-size: 20px;
					line-height: 22px;
				}

				@media only screen and (max-width: $media-lg) {
					font-size: 16px;
					line-height: 18px;
					margin-bottom: 25px;
				}

			}

			.price {
				font-size: 36px;
				font-weight: 400;
				line-height: 38px;
				margin-bottom: 25px;

				@media only screen and (max-width: $media-xxl) {
					font-size: 30px;
					line-height: 32px;
				}

				@media only screen and (max-width: $media-lg) {
					font-size: 28px;
					line-height: 16px;
					margin-bottom: 0;
					padding-top: 5px;
				}
			}

			.desc {
				font-size: 20px;
				font-weight: 400;
				line-height: 24px;

				@media only screen and (max-width: $media-xxl) {
					font-size: 16px;
					line-height: 22px;
				}

				@media only screen and (max-width: $media-lg) {
					font-size: 16px;
					line-height: 16px;
					margin-bottom: 10px;
				}
			}
		}

	}
}
