@import '../../styles/media';

.main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrapper {
	overflow: hidden;
	background: var(--lightblue-color);
	border-left: 2px solid var(--primary-color);
	border-right: 2px solid var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
	padding-top: 70px;
	position: relative;
}

.buttonToTop {
	display: flex;
	justify-content: flex-end;
}
