@import "src/styles/media";

.wrapper {
	position: relative;
	padding: 50px 60px;
	@media only screen and (max-width: $media-lg) {
		padding: 20px 30px;

	}
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2000;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.8);

	div {
		width: 100px;
		height: 100px;

	}
}

.formWrapper {
	width: 100%;
	display: flex;
	gap: 32px;

	@media only screen and (max-width: $media-lg) {
		flex-direction: column;
		gap: 32px;
	}
}

.form {
	width: 100%;

	@media only screen and (max-width: $media-lg) {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
}
